@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.App-link {
    color: #61dafb;
    font-size: 26px;
    text-align: center;
}

.LocationsDetails{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    overflow: auto;
}

.newLocation-Form{
    text-align:center;
}

input[type=text], input[type=number], input[type=decimal] {
    width: 50%;
    height: 37px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]:focus , input[type=number]:focus , input[type=decimal]:focus {
    border: 3px solid #555;
}


input:invalid+span:after {
    position: absolute;
    content: '✖';
    padding-left: 5px;
}

input:valid+span:after {
    position: absolute;
    content: '✓';
    padding-left: 5px;
}


button, input[type=submit] {
    width: 50%;
    background-color: #DE354C;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #932432;
}




.LocationsManagement{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.Location-List {
    list-style-type: none;
    padding: 0;
}

/*sets the width and height of the leaflet container*/
.leaflet-container {
    width:  100vw;
    height: 93vh;
    z-index: 0;
}

.button_open {
    color: darkseagreen;
}

.infos {
    background-color: white;
}

#verified{
    color : lawngreen;
}

#notVerified{
    color:red;
}
#Login{
    justify-content: right;
}

