@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}


.App-link {
    color: #61dafb;
}

.LocationsManagement{
    justify-content: center;
}

.Location-List {
    list-style-type: none;
    padding: 0;
}




/*sets the width and height of the leaflet container*/
.leaflet-container {
    width:  100vw;
    height: 93vh;
    z-index: 0;
}

.button_open {
    color: darkseagreen;
}

.infos {
    background-color: white;
}

#verified{
    color : lawngreen;
}

#notVerified{
    color:red;
}
#Login{
    justify-content: right;
}